[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
coreapi = "*"
django-oauth-toolkit = "*"
oauth2-provider = "*"
django-cors-middleware = "*"
requests = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-papertrail = "*"

[requires]
python_version = "3.7"
